@model Employee
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Welcome</title>
</head>
<body>
    <div> 
        Congratulations you're now registered!
        <h2>Welcome: @Model.Name</h2>
    </div>
    
</body>
</html>
